@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: rgb(34,34,34);
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 15px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }
  li {
    display: inline-block;
    font-weight: 300;
    font-size: 1.2rem;
  }
  li:hover {
    color: rgb(255, 20, 28);
    transition: 0.4s all;
  }
  a {
    color: white;
  }
  #logo{
    max-width:15vw;
    max-height:25vh;
    width: auto;
    height: auto;
    
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
}
#texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    line-height: 3vh;
    font-size: 3vw;
    font-weight: 400;
    margin: 2rem 0px 0px; 
}
p{

}


span{
    color: rgb(255, 20, 28);

}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;

}
article h2{
    margin-bottom: 0%;

}
#imagens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.9rem;

}
#esquerda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#direita{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#logojava, #logoabap{
    max-width:15vw;
    max-height: 25vh;
    width: auto;
    height: auto;
    /* margin-left: 40px; */

}
#logohtml, #logocss{
    max-width:30vw;
    max-height: 25vh;
    width: auto;
    height: auto;
}


p{
    
    line-height: 20px;
    font-weight: 300;
    font-size: 1.2rem; 
    
}

