@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: rgb(34,34,34);
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 15px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
#cima{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#baixo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#baixo h2{
    margin-left: 3rem;
}
#email, #discord, #linkedin, #instagram, #telefone{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#email img, #discord img, #linkedin img, #instagram img, #telefone img{
    justify-items: center;
    margin: 1rem 5rem 1rem;
    max-width:4vw;
    max-height:4vh;
}


#baixo h2{

    font-size: 2vw;
    font-weight: 300;
    margin: 0px 0px 0px; 
}



button {     
    background-color: Transparent;
    border: none;
    cursor:pointer;
    transition: .5s ease;
}
li{
    display: inline-block;
    margin: 20px;
    line-height: 20px;
    font-weight: 300;
    font-size: 1.2rem; 

}
ul{
    margin-right: 10rem;
}


h2{
    line-height: 3vh;
    font-size: 3vw;
    font-weight: 400;
    margin: 0px 0px 0px; 
}
h3{
    font-size: 1vw;
    font-weight: 300;
    
}

span{
    color: rgb(255, 20, 28);
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;

}
article h2{
    margin-bottom: 0%;

}





p{
    
    line-height: 20px;
    font-weight: 300;
    font-size: 1.2rem; 
    
}





#logo{
    max-width:15vw;
    max-height:25vh;
    width: auto;
    height: auto;
    margin-left: 5rem;
    
}



ul a{
    color: white;
}
ul a:hover{
    color: rgb(255, 20, 28);
    transition: 0.4s all;
}

