@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: rgb(34,34,34);
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 15px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* #title{
    position: absolute;
    right: 87vw;
    top: 10vh;
    color: rgb(215, 73, 77);
} */
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    /* justify-content: center; */
    align-items: center;
    margin-left: 7rem;
}

li{
    display: inline-block;
    margin: 20px;
    font-size: 1.6rem;

}
ul{
    margin-right: 3rem;
}
h2{
    line-height: 6vh;
    margin: 0px 0px 0px;
    font-size: 3vw;
    font-weight: 400;
    
}

span{
    color: rgb(255, 20, 28);
}
p{
    
    line-height: 20px;
    font-weight: 300;
    
}






#botaogithub{
    max-width:7vw;
    max-height:7vh;
    width: auto;
    height: auto;
}
#botaolinkedin{
    max-width:7vw;
    max-height:7vh;
    width: auto;
    height: auto;
}
#botaoinstagram{
    max-width:7vw;
    max-height:7vh;
    width: auto;
    height: auto;
}
#logo{
    max-width:25vh;
    max-height:30vh;
    width: auto;
    height: auto;
    margin-left: 40px;
    
}
#minhafoto{
    max-width:55wh;
    max-height:55vh;
    width: auto;
    height: auto;
    border-radius: 50%;
    border-style:outset;
    margin-left: 10rem;
    border-color: rgb(255, 20, 28);
}
ul a{
    color: white;
}
ul a:hover{
    color: rgb(255, 20, 28);
    transition: 0.4s all;
}

button {     
    background-color: Transparent;
    border: none;
    cursor:pointer;

    transition: .5s ease;
}
#botoes{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

#botoes img{
    justify-items: center;
    margin: 1rem 1rem 1rem;
    max-width:4vw;
    max-height:4vh;
}
#botoes img:hover{
    color: rgb(255, 20, 28);
    transition: 0.4s all;
}
aside a{
    color: rgb(34,34,34);
}